
/* ESTILOS DE LOS TOGGLE  */

/* fallback, until https://github.com/CompuIves/codesandbox-client/issues/174 is resolved */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}


.mdl-demo .dropdown-trigger > span:after {
  font-size: 12px;
  color: #555;
}

.mdl-demo .toggle {
  font: normal normal normal 18px/1 "Material Icons";
  color: #555;
  white-space: pre;
  margin-right: 4px;
}

.mdl-demo .toggle.collapsed::after {
  cursor: pointer;
  content: "\E5CE";
  vertical-align: middle;
}

.mdl-demo .toggle.expanded::after {
  cursor: pointer;
  content: "\E5CF";
  vertical-align: middle;
}

/* ESTILOS DE LOS TOGGLE  */


.node-custom-style {
  margin: 10px;
}

.first-level-node {
  font-weight: bolder;
  color:black;
  cursor:pointer;
}

.first-level-node:hover {
  background-color: rgba(231, 231, 231, 0.8);
}

.node-custom-style:hover{
  background-color: rgba(231, 231, 231, 0.8);
}


.first-level-node > label > input {
  display: none;
  
}

/* con estas clases le doy estilo a las categorias de nivel 0 que no
pueden ser cliqueadas */
.node.disabled>*
{color:rgb(7, 2, 2);cursor:pointer}

/* este selector le da estilos al checkbox cuando esta en checked, pero nose
porque no se le puede cambiar el color(en el caso que necesito cuando se selecciona una padre,
todas las hijas quedan en checked pero con color gris) */
input[type="checkbox" i]:checked {
  margin:10px;
/* background-color: grey; */
}
